#proj-results-container {
    flex-grow: 1;    /* Make every divcard the same dimension */
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#proj_card_desc {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 5px;
}

.discord{

    padding: 0%;
}

#proj-comcard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.proj-search-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-name {
    color:  #00000a;
    background-color: #e5b045;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50px;
    font-weight: bold;
}

span{
    margin: 0%;
    color: #e5b045;
    
}

.proj-results-container{

    display: flex;
    flex: auto;
    justify-content:flex-start;
    align-items: start;
    text-align: start;
  
}

.proj-desc{

    display: flex;
    flex: auto;
    justify-content:flex-start;
    align-items: start;
    text-align: start;
    margin: 10px;
  
}
.proj-categ{

    display: flex;
    flex: auto;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 5px;
  
}
.proj-img{
display: flex;
margin: 15px;
justify-content: space-evenly;

}

#proj-search-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.proj-flex-adapt {

    flex-direction: column;

}

@media (min-width: 768px) {
    .proj-flex-adapt {
        flex-direction: row;
        align-self: start;
    }
    
}

.btn.btn-dark{
color: #5865F2;
padding: 0;


}


