.all{
margin-top: 10%;
margin-bottom: 10%;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;


}
#searchInput,#proj-create-display-btn,#proj-search-display-btn,.SYE{
    color: black;
    background-color: #e5b045;
    font-weight: bold;
    border-radius: 10px;
   
}
.select_button{



}


label{
    color: #e5b045;
font-size: 30px;
padding: 5px;

}


.nave{
    text-align: center;

}
.search{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    
}
input{

    width:100%;
      box-sizing:border-box;
    
}

.hiddenElement {

display: none;
}

.flex-adapt {
    flex-direction: column;
}

@media(min-width: 768px) {
    .flex-adapt {
        flex-direction: row;
    }
}



h1{

    color: #e5b045;
}