#proj_card_desc {
    display: flex;
}

#proj-comcard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.proj-search-container {
    padding-left: 50%;
}

.proj-name {
    color: yellow;
}

.proj-categ {
    color: green;
}
.proj-discord {
    color: purple;
}
