/* Color definitions */
body {
    background-color: rgb(35, 34, 34);
    color: white;
}

li {
    color: #e5b045;

    list-style: none;
}

.Login_logout {
    color: #e5b045;
}

/*root{
    --header-button-color: #212529;
    --gold-text-color: #E5B045;
}*/

.header-container {
    border-bottom: 1px solid #e5b045;
    background-color: rgb(33, 37, 41);
    top: 0;
    z-index: 100;
    width: 100%;
}

.header-container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 120px;
}
.header-container header .quick_menu {
    display: flex;
    flex-direction: row;
}

.header-container header .quick_menu a {
    display: block;
    margin: 45px 10px 0 10px;
    height: 30px;
}
.header-container header .quick_menu a img {
    height: 30px;
}

.extended_menu {
    z-index: 50;
    position: absolute;
    top: -600%;
    background-color: rgb(33, 37, 41);
    border-bottom: 1px solid #e5b045;
    width: 100%;
    transition: 1s all;
}

.extended_menu.active {
    top: 120px;
}

header {
    border: bottom 1px solid;
    border-bottom: 1px solid #e5b045;
    background-color: rgb(33, 37, 41);
}

.btn.btn-dark {
    color: #e5b045;
}

.right {
    display: flex;
    justify-content: center;
}
button {
    background-color: rgb(33, 37, 41);
    color: #e5b045;
    border-radius: 10%;
    border: none;
}

.Login_logout {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
/* 
nav {
	flex: 1;
}

.burger {
	display: flex!important;
	flex-direction:column-reverse
}

.sticky-header{
	width: 100%;
	flex: 1;
	z-index: 12;
}

.sticky-header>a{
	flex: 1;
	margin: auto;
}

a.burger {
	display: flex;
}


.nav_bare {
	width: 100%;
	flex: 1;
	top: -800px;
	transition: all 1s;
}

.nav_bare.active{
	top: 215px;
}

.nav_bare a {
    align-self: start;
    flex: 1;
    width: 100%;
}



.accountAccess{
	background-color: black;
}

.accountAccess>.btn.btn-dark {
	width: 100%;
}

img {
	margin: 10px;
}
body {
/* Hide scrollbars */
