.text_box{

display: flex;
flex-direction: column ;
flex-wrap: wrap;


}

h1{

    color: #e5b045;
    text-align: center;
    font-size: 30px;
}


.btn:first-child:hover , :not(.btn-check)+.btn:hover{
    color: #e5b045;
   
}

.input-group-text {
    background-color: #e5b045;
    color: black;
    border: 1px solid black;
}

.flex-adapt {
    flex-direction: column;
}



.proj-results-container {
    /* Make every divcard the same dimension */
    display: flex;
    align-items: center;
    justify-content:center;
    align-items: start;
    text-align: start;
    margin: 10px;
}

.proj_card_desc {
    display: flex;
    align-items: center;
    text-align: start;
    
}

.discord{

    padding: 0%;
}

#proj-comcard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.proj-search-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-name {
    color:  #00000a;
    background-color: #e5b045;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50px;
    font-weight: bold;
}

span{
   
    color: #e5b045;
    
}

.proj-results-container{

    display: flex;
    flex: auto;
    justify-content:flex-start;
    align-items: start;
    text-align: start;
  
}



  
  
.proj-categ{

    display: flex;
    flex: auto;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 5px;
  
}

.proj-comcard>div{
   
    border:1px solid #E5B045;
    border-radius: 3px;
    padding: 20px;
    max-width: 500px;
    margin: 20px;
    text-align: center;
    align-items: center;
}


.proj-img{
display: flex;
margin: 15px;
justify-content: space-evenly;

}

#proj-search-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.proj-flex-adapt {

    flex-direction: column;

}


.discord .btn.btn-dark{
color: #5865F2;
padding: 0;


}

@media(min-width: 768px) {
    .flex-adapt {
        flex-direction: row;
    }
}
