table {
    margin: 2rem;
}

th {
    text-align: center
}

.table-avatar {
    height: 3rem;
}

col {
    width: 15rem;
}
tr td {
    text-align: center;
}
td.name {
    text-align: left;
}

col.id {
    width: 3rem;
}

col.avatar {
    width: 3rem;
}

col.name {
    width: 10rem;
}

col.discord {
    width: 5rem;
}
