.all{
    display: flex;
    justify-content:center;
    background-color:  #E5B045 ;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
}

.loadfile{
    size: 30px;
}


#preview img{
    width: 200px;
    border: 5px black solid;
}

h1{
    text-align: start;
    font-size: 25px;
    padding: 5px;
}

span>input{
    background-color:white;
    border: black 1px solid;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

span>input:hover{
    background-color:black;
    border: black 1px solid;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

